@using ContosoCrafts.WebSite.Models
@using ContosoCrafts.WebSite.Services
@using Microsoft.AspNetCore.Components.Web
@*@inject JsonFileProductService ProductService*@
@inject JsonFilePawService PawService

<div class="card-columns">
@foreach (var paw in PawService.GetPaws())
{
    <!-- Rendering a card  -->
    <div class="card">
        <div class="card-img" style="background-image: url('@paw.Paw.Image');">
        </div>
        <div class="card-body">
            <h5 class="card-title">@paw.Paw.Name</h5>
        </div>
        <div class="card-footer">
            <small class="text-muted"><button @onclick="(e => SelectPaw(paw.Id))" 
              data-toggle="modal" data-target="#productModal" class="btn btn-primary">More Info</button>
            </small>
        </div>
    </div>
}
</div>

//The selected paw information will be rendered in a popup
@if(selectedPaw != null)
{
  <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="productTitle">@selectedPaw.Paw.Name</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="card">
            <div class="card-img" style="background-image: url('@selectedPaw.Paw.Image');">
            </div>
            <div class="card-body">
                <p class="card-text">@selectedPaw.Paw.Description</p>
            </div>
          </div>
        </div>s
      </div>
    </div>
  </div>
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

//This function starts working when any user selects a paw and its information is being rendered
@code 
{
    //ProductModel selectedProduct;
    PawModel selectedPaw;
    string selectedPawId;

    void SelectPaw(string pawId)
    {
        selectedPawId = pawId;
        selectedPaw = PawService.GetPaws().First(x => x.Id == pawId);
    }
}
